<% include ./partials/header %>

<h1>This is the show template</h1>
<%= ticket['ticket']['id'] %>
<%= ticket['ticket']['subject'] %>
<div>
    <a href="/results">Back to all tickets</a>
</div>

<% include ./partials/footer %>