body {
    font-family: 'Material Icons', sans-serif;
}
.pagination {
    list-style: none;
}

.pagination li {
    display: inline;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

table {
    border-collapse: collapse;
  }

  table, th, td {
    border: 1px solid black;
  }

  th, td {
    text-align: left;
  }

  table {
    width: 100%;
  }

  th {
    height: 100px;
  }